html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.btn {
  display: inline;
  font-size: 1.125rem;
  color: #fff;
  background-color: #333;
  padding: .4em;
  border-width: 3px;
  border-radius: 8px;
}

.btn-subtle, .subtle-small {
  background-color: #ccc;
}

.btn-ghost, .ghost-small {
  color: #000;
  background-color: #fff;
  border: solid black;
}

.btn-warning, .warning-small {
background-color: #f33;
}


.btn-small {
  font-size: .875rem;
  padding: .3em;
}

.btn-big {
  font-size: 1.5rem;
  button-padding: .75em;
}
