html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.btn {
  display: inline;
  font-size: 1.125rem;
  color: #fff;
  background-color: #333;
  padding: .4em;
  border-width: 3px;
  border-radius: 8px;
}

.btn-subtle, .subtle-small {
  background-color: #ccc;
}

.btn-ghost, .ghost-small {
  color: #000;
  background-color: #fff;
  border: solid black;
}

.btn-warning, .warning-small {
background-color: #f33;
}


.btn-small {
  font-size: .875rem;
  padding: .3em;
}

.btn-big {
  font-size: 1.5rem;
  button-padding: .75em;
}




/* .btn {
  display: inline;
  font-size: 1.125rem;
  color: #fff;
  background-color: #333;
  padding: .4em;
  border-width: 3px;
  border-radius: 8px;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle {
  font-size: 1.125rem;
  color: #fff;
  background-color: #ccc;
  border-width: 3px;
  border-radius: 8px;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost {
  display: inline;
  font-size: 1.125rem;
  padding: .4em;
  color: #000;
  background-color: #fff;
  border: solid black;
  border-width: 3px;
  border-radius: 8px;
}

.btn-ghost:hover {
  color: #fff;
  background-color: #666;
  border: solid #666;
}

.btn-warning {
  display: inline;
  font-size: 1.125rem;
  color: #fff;
  background-color: #f33;
  padding: .4em;
  border-width: 3px;
  border-radius: 8px;
}

.btn-warning:hover {
   background-color: #933;
} */

/* s m a l l  b u t t o n s */
/*
.btn .btn-small {
  font-size: .875rem;
  border-width: 3px;
  border-radius: 8px;
}

.btn-small:hover {
  background-color: #000;
}

.subtle-small {
  font-size: .875rem;
  color: #fff;
  background-color: #ccc;
  padding: .75em;
  border-width: 3px;
  border-radius: 8px;
}

.subtle-small:hover {
  background-color: #666;
}

.ghost-small {
  font-size: .875rem;
  padding: .75em;
  color: #000;
  background-color: #fff;
  border: solid black;
  border-width: 3px;
  border-radius: 8px;
}

.ghost-small:hover {
  color: #fff;
  background-color: #666;
  border: solid #666;
}

.warning-small {
  font-size: .875rem;
  color: #fff;
  background-color: #f33;
  padding: .75em;
  border-width: 3px;
  border-radius: 8px;
}

.warning-small:hover {
   background-color: #933;
} */
