html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.btn {
  display: inline;
  font-size: 1.125rem;
  color: #fff;
  background-color: #333;
  padding: .4em;
  border-width: 3px;
  border-radius: 8px;
}

.btn:hover{
  background-color: #000;
}

.btn-subtle, .subtle-small, .subtle-big {
  background-color: #ccc;
}

.btn-subtle:hover, .subtle-small:hover, .subtle-big:hover {
  background-color: #666;
}

.btn-ghost, .ghost-small, .ghost-big {
  color: #000;
  background-color: #fff;
  border: solid black;
}

.btn-ghost:hover, .ghost-small:hover, .ghost-big:hover {
  color: #fff;
  background-color: #666;
  border: solid #666;
}
.btn-warning, .warning-small, .warning-big {
background-color: #f33;
}

.btn-warning:hover, .warning-small:hover, .warning-big:hover {
  background-color: #933;
}

.btn-small {
  font-size: .875rem;
  padding: .em;
}

.btn-big {
  font-size: 1.5rem;
  button-padding: .75em;
}
